@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
.scrollbar-hover {--scrollbar-thumb: transparent;
scrollbar-width: thin;
scrollbar-color: var(--scrollbar-thumb) transparent;
}
.scrollbar-hover::-webkit-scrollbar {
width: 8px;
}
.scrollbar-hover::-webkit-scrollbar-thumb {
background-color: var(--scrollbar-thumb);
border-radius: 20px;
}
.scrollbar-hover:hover {--scrollbar-thumb: #cbd5e1; /* This is slate-300 */
}
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



h1 {@apply text-3xl sm:text-4xl font-bold tracking-wide leading-9 sm:leading-11 text-wrap capitalize p-0};
h2 {@apply text-xl sm:text-3xl font-bold tracking-wide p-0};
h3 {@apply text-xl sm:text-2xl font-bold tracking-wider p-0};



.body-text{@apply text-sm text-black/80 font-medium text-wrap tracking-wider }
.body-text_sm{@apply text-xs text-black/60 font-semibold text-wrap tracking-wide }

.btn-cta {@apply sm:inline-flex items-center w-max py-2 px-5 bg-black/80 text-sm text-white font-semibold tracking-wider rounded-full };
.btn-cta_secondary {@apply  items-center gap-2 w-max py-2 px-5 bg-transparent text-sm text-black font-semibold tracking-wider border rounded-full capitalize };
.btn-cta_mobile {@apply inline-flex sm:hidden items-center justify-normal w-max py-2 px-5 bg-black/80 text-sm text-white font-semibold tracking-wider rounded-full };


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.wrapper {
  @apply max-w-5xl mx-auto px-4;
}

.header03_nav {
  @apply relative w-full min-h-screen bg-cover bg-no-repeat bg-center;
}

/* Add blur to header */
.blur-header {
    background-color: transparent;
}
.blur-header::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0, 10%, 0.3%);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}


.post {
  @apply grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))];
    
}

.contact-form_input {
  @apply w-full text-sm text-gray-800 font-normal py-2 
  px-6 mb-3 transition duration-200 bg-white rounded-lg shadow-sm
  border border-gray-300 aspect-auto  focus:border-sky-700 
  focus:outline-none;
}
.contact-form_input_btn {
  @apply w-full text-sm text-white font-normal py-2 
  px-6 mb-3 transition duration-200 bg-slate-400 rounded-lg shadow-sm
  border border-gray-300 aspect-auto  focus:border-sky-700
  focus:outline-none;
}
.email-form_footer {
  @apply w-full text-sm text-gray-700 font-normal pt-2 pb-6
  transition duration-200 placeholder-gray-200/60
  border-b border-gray-300 aspect-auto  focus:border-sky-700 
  focus:outline-none bg-transparent!;
}

.hr_line {
  @apply w-full h-0.5 rounded bg-gray-800/90;
}
.vr_line {
  @apply w-0.5 min-h-full rounded bg-gray-800/90 ;
}


.featured_style {
  @apply max-w-max py-0.5 px-3 bg-yellow-600 tracking-wider font-bold 
}


.font_address {@apply text-sm text-sky-600 font-normal; }
.footer_links {@apply text-sm text-gray-100 font-normal; }
.footer_links-small {@apply text-xs text-gray-100 font-normal tracking-wider; }
.footer_links-bold {@apply text-sm text-gray-100 font-bold tracking-wider; }

.font-black_xs {@apply text-gray-900 font-bold; }
